header nav ul{
    flex-direction: column;
}
.link_prodotto{
    margin: 0;
}
.prodotto{
    width:100%;
    max-width: 400px;
}
#AVh2{
    font-size: 1.5em;
}
#AVp, .form-label{
    font-size: 1em;
}/*
.dataRow{
    flex-direction: column;
    align-items: center;
}*/
#container_header{
    padding: 0 0.8em;
    flex-wrap: wrap;
}
#breadcrumbs{
    width: 80%;
}
#divdettagli{
    width: 100%;
}
#txtaccountdelete{
	margin-top: 1em;
}
#container_profilo, #content{
    width: 120%;
}
#dettagli {
    font-size: 0.7em;
    margin-left: 0;
}
#container_profilo>p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5em;
}
#container_profilo>p>span {
    max-width: inherit;
    font-size: 0.7em;
}