@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*:root {
    --primary-color: #1c1c1c;

}*/

/*CSS RELATIVO AI TAG*/
body{
    min-height: 100vh;
    margin: 0em auto;
    font-family: "Lato", cursive, sans-serif;
    background-color: rgb(192, 219, 181);
    display: flex;
    flex-direction: column;
}

nav{
    text-align: center;
    background-color: #222;
    margin-bottom: 0.8em;
}
nav li{
    width: 100%;
    padding: 0.5em 0;
}
nav a{
    font-size: 1.5em;
    font-weight: bold;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    margin: auto;
    width: 70%;
}
footer{
    margin-top: 3em;
    width:100%;
    padding: 1em 0em;
    flex-shrink: 0;

    background-color: #222;
    color: #fff;
    font-size: 0.7em;
    font-style: italic;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button, input[type=submit] {
    margin-top: 1em;
}

form{
    margin: 1em;
}

fieldset{
    border: 0;
    margin: 0;
    padding: 0;
}

legend{
    font-size:1.1em;
    font-weight: bold;
    margin-top: 0.9em;
    margin-bottom: 0.5em;
    padding: 0;
}

/*-------------------------------------------
-----------CSS RELATIVO ALLE CLASSI----------
---------------------------------------------*/

.emspan{
    font-style: italic;
}

.bspan{
    font-weight: bold;
}

.strongspan{
    font-weight: bolder;
}

.hiddenscreenreader{
    position: absolute; height: 0;
    overflow: hidden;
    color: white;
    background-color: transparent;
}

a.hiddenscreenreader{
    color:white;
    background-color: black;
}
a.hiddenscreenreader:visited{
    color: white;
    background-color: black;
}
a.hiddenscreenreader:hover{
    color: black;
    background-color: white;
}


.active{
    cursor: default !important;
    color:#92ff83  !important;
    pointer-events: none;
    text-decoration: none; 
}

.link{
    color:#fff;
    background-color: #222;
}
.link:visited{
    color: #ff0;
    background-color: #222;
}
.link:hover{
    color: #222;
    background-color: #fff;
}
.fillParent{
    height: 100%;
    display: inline-block;
    width: 100%;
}

.prodotto{
    height: 300px;
    width: 250px;
    display:flex;
    margin: 3em 1em 0em 1em;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    background-color: #222;
}

.nome_prodotto{
    width: 100%;
    text-align: center;
}
.img_prodotto{
    max-height: 60%;
}
.contenuto_prodotto{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-size: 1em;
}
.dettagli_prodotto{
    font-style: normal;
    font-weight: bold;
}
.tipo_prodotto{
    font-style: normal;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.page-padding{
    padding: 0.5em 1em;
    width: auto;
    height: auto;
}

.page:hover{
    background-color: #fff;
    color: #222;
    cursor: pointer;
}

.recensioneitem{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display: flex;
    flex-flow: wrap;
}

.recensionecontent{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.8em;
    width: auto;
}

.revremoveform{
    margin: 1.8em 0 0 0;
    background-color: transparent;
}

.recensionetext{
    width: 80%;
}

.newline{
    margin: 0.2em 0 0.2em 0;
}


.material-icons.dark { color: #222; }

.material-icons.darknohover { color: #222; }

.material-icons.darknohover:hover { 
    color: #222;
    cursor: default;
    background-color: transparent;
 }

.icon{
    display: flex;
    flex-direction: column;
    color: #D8FBD8;
    text-align: center;
    
 }



/*-------------------------------------------
------------CSS RELATIVO AGLI ID-------------
---------------------------------------------*/

/*Header*/
#container_header{
    padding: 0em 3em;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between; /*lascia spazi tra i child*/
    align-items: center;    /*Allinea verticalmente*/
    background-color: #222;
}

#container_logo{
    display: inline-flex;
    text-decoration: none;
	align-items: center;
}


#text_logo{
    font-size: 2.2em;
    color: #fff;
}


#img_logo{
    float: left;
    width: 60px;
    height: 60px;
}
#container_icons{
    display: inline-flex;
}
#msgWelcome{
    width: 100%;
    color: #D8FBD8;
}
/*Nav*/
#list_link{
    width: 100%;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    padding: 0;
    margin: 0.5em 0em;
}
/*Breadcrumbs*/
#breadcrumbs{
    width: 70%;
    height: 0.4em;
    justify-content: center;
    border-radius: 10px;
    background-color: #222;
    margin: 1em 1em 0.5em 1em;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.8em 0.8em;

    display: flex;
    align-items: center;
    margin: auto;

}
.bc-item{
    display: inline-block;
}
.bc-item:not(:last-of-type)::after{
    content:'>';
    margin: 0 5px;
    color:#ccc;
}

.bc-link{
	font-weight: 500;
}

/*Main*/
#content{
    margin-bottom: 2em;
}

/*Content prodotti.html*/
#container_beers{
    margin-bottom: 2em;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    justify-content: center;
}
/*Content contatti.html*/
#cardscontatti{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-top: 2em;
    padding:5px;
}
#contacts{
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
    width: 350px;
    height: 240px;
    margin:2em 0;
}

#imgboiler{
    border: 1px solid #fff;
    border-radius: 5px;
    width: 380px;
    max-width:100%;
    height: 270px;
    margin:2em 0;
}

#imgdettagli{
    width: 260px;
    height: 400px;
}

/* dettagli.html */
#detailscontainer{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding:5px;
}

#divimgbirra{
    float: left;
    margin: 1em;
}

#divdettagli{
    float: right;
    margin: 0em 1em 1em 1em;
    width: 60%
}

#revinsertform{
    margin: 0;
}

#descrizionebirra{
    margin-bottom: 3em;
}


#recensionecreate{
    margin-bottom: 2em;
    display: flex;
    flex-flow: wrap;
}


#recensionetextarea{
    margin-top: 0.5em;
    margin-bottom: 1em;
    resize: vertical;
    border: #fff;
}



.revremovebut{
    background: transparent;
    border: none;
    margin: 0;
}

#msgsuccess{
    font-size: 2em;
    font-weight: bold;
    background-color: yellowgreen;
    padding: 0.5em;
    border-radius: 20px;
    margin: 0.5em auto;

}
#msgfail{
    font-size: 2em;
    font-weight: bold;
    color:white;
    background-color: #800;
    padding: 0.5em;
    border-radius: 20px;
    margin: 0.5em auto;
}

#heading >h1{
    font-size:3em;
    border-bottom: #000 0.1em solid;
    padding-bottom: 0.2em;
    margin: 0.8em auto 0.6em auto;
    width: auto;
}

/* notfound.html */

#diverror{
    margin-top: 5em;
    text-align: center;
}


/*Lista pagine prodotti.html*/
#list_pages{
    padding: 0.5em 0.5em;
    font-weight: bold;
    font-size: 1.3em;
    display: inline-flex;
    list-style-type: none;
    background-color: #222;
}
.containerTornaSu{
    text-align: center;
    margin: auto;
}
.tornaSu{
    font-weight: bold;
    padding: 0.5em 0.5em;
}
/*------------------------------------------------------------------------------------------*/
/*style del AgeValiditation*/
 #AVp {
    font-size: 1.5em;
    margin:0 auto;
    padding-bottom: 1em;
}
#AVh2 {
    font-size: 3em;
    margin-bottom:0;
}
.btn {
    border-style:solid;
    background-color: #222;
    border-color: #fff;
    color: #fff;
    font-size: 1.5em;
    padding: 0.5em 1.5em;
}

.btn:hover, .btn:focus {
    background-color: #fff;
    border-color: #222;
    color: #222;
}

.inputAge:hover{
    background-color: #DCDCDC;
    color: #333333;
 }
.inputAge{                                  
    min-width: 8em;
    margin: 0 1em;
    padding: 1em 0.5em;
    
}
#formAge{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.dataColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dataAge{
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.2em;
}
.dataLogin{
    justify-content: space-around;
}
.dataRegister{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.2em;
}
.dataRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-label {
    font-size: 1.5em;
}
.msgError{
    color: #840000;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 0;       
    margin-left: 0;
}
.msgErrorWrap{
    width: 20em;
    display: block;
    word-wrap: break-word;
}

/* ------------------------------------------------------------------------------------------------------*/
.material-icons {
    font-size: 2em ;  /* Preferred icon size */
    padding: 0.4em;
    color: #fff;
}
.material-icons:hover{
    background-color: #fff;
    color: #000;
    border-radius: 100%;
    cursor:pointer;
}
#lblSearch{
    color: #fff;
    padding-right: 1em;
}
#searchbar{
    background-color: #222;
    padding: 0.3em 2em;
    text-align: center;
}
#search{
    width: 90%;
    padding:0.8em;
    border: 1px solid #fff;
    border-radius: 10px;
}
#btnSearch{
    padding: 0.8em;
}
/*---------------------------------------------------------------------------------------------------*/
#formRegister, #form-modifica-dati, #container_profilo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
#formLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
/*-----------------------------------------------------------------------------------------------*/

.hidden{
    display: none !important;
}
#container_delete{
    border-bottom: #000 0.2em solid;
    margin-bottom: 2em;
}
#formElimina, #divConferma{
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items: center;
}
#btnElimina, #btnInvia{
    margin: 0;
}
#container_delete>h2{
    font-size:2em;
    font-weight: bold;
    border-bottom: #000 0.1em solid;
    padding-bottom: 0.4em;
}
#container_delete>p, .infoP{
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    margin:0.5em;
}
#dettagli{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1.5em;
    margin:4em;
}
#dettagli>dt{
    font-size: 1.8em;
    font-weight: bold;
    border-bottom:black 0.1em solid;
}
#dettagli>dd{
    font-size:1.5em;
    border-bottom:black 0.11em solid;
}
#container_profilo>p{
    font-size:1.2em;
}
.ritorna{
    padding:0.4em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
/*------------------------------------------------------*/
