@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*:root {
    --primary-color: #1c1c1c;

}*/

/*CSS RELATIVO AI TAG*/
body{
    min-height: 100vh;
    margin: 0em auto;
    font-family: "Lato", cursive, sans-serif;
    background-color: #aaa;
    display: flex;
    flex-direction: column;
}


nav{
    text-align: center;
    background-color: #222;
    margin-bottom: 0.8em;
}
nav li{
    width: 100%;
}
li:hover:not(.active) a{
    background-color: #fff;
    cursor: pointer;
    color: #222
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    margin: auto;
    width: 70%;
}
footer{
    margin-top: 3em;
    width:100%;
    padding: 1em 0em;
    flex-shrink: 0;

    background-color: #222;
    color: #fff;
    font-size: 0.7em;
    font-style: italic;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button, input[type=submit] {
    margin-top: 1em;
}

form{
    margin: 1em;
}

input[type=text]{
    margin-top: 0.08em;
    margin-bottom: 0.5em;
}


/*-------------------------------------------
-----------CSS RELATIVO ALLE CLASSI----------
---------------------------------------------*/
.active{
    cursor: default !important;
    color:#4CAF50 !important;
    pointer-event: none;
    text-decoration: none; 
}

.link{
    color:#fff;
    text-decoration: none;
    height: 100%;
    display: inline-block;
    width: 100%;
}
.link:visited{
    color: #ff0;
}
.prodotto{
    height: 300px;
    width: 250px;
    display:flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    overflow: hidden;
    
    border: 2px solid #aaa;
    border-radius: 10px; 
    cursor: pointer;
}
.prodotto:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    background-color: #d2fad4;

}
.link_prodotto{
    text-decoration: none;
    margin: 3em 1em 0em 1em;
    color: #000;
}
.nome_prodotto{
    width: 100%;
    text-align: center;
}
.img_prodotto{
    max-height: 60%;
    
}
.contenuto_prodotto{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-size: 1em;
}
.dettagli_prodotto{
    font-style: normal;
    font-weight: bold;
}
.tipo_prodotto{
    font-style: normal;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.page{
    width: 100%;
}
.page-padding{
    padding: 0.5em 1em;
    width: auto;
    height: auto;
}

.greenBtn{
    background-color: #2E8B57;
    border: 0;
    border-radius: 10px;
    height: 2em;
    width: 7.5em;
    font-size: medium;
}

.page:hover{
    background-color: #fff;
    color: #222;
    cursor: pointer;
}
.page.active:hover{
    cursor: default !important;
    color:#4CAF50 !important;
    background-color: #222 !important; 
}

.recensioneitem{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display: flex;
    flex-flow: wrap;
}

.recensionecontent{
    margin-top: 0.5em;
    margin-bot: 0.5em;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.8em;
    width: 80%;
}




/*-------------------------------------------
------------CSS RELATIVO AGLI ID-------------
---------------------------------------------*/
/*Header*/
#container_header{
    padding: 0em 3em;
    display:flex;
    justify-content: space-between; /*lascia spazi tra i child*/
    align-items: center;    /*Allinea verticalmente*/
    background-color: #222;
}
#container_logo{
    display: flex;
    text-decoration: none;
}
#text_logo{
    font-size: 2.2em;
    color: #fff;
}
#img_logo{
    float: left;
    width: 4em;
}
#login{
    text-decoration: none;
    padding:9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s, ease 0s;
}
#login:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
/*Nav*/
#list_link{
    width: 100%;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    padding: 0;
    margin: 0.5em 0em;
}

/*Main*/
#breadcrumbs{
    width: 70%;
    height: 0.4em;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    margin: 1em 1em 0.5em 1em;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.8em 0.8em;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}
#content{
    margin-bottom: 2em;
}
/*Content prodotti.html*/
#container_beers{
    height:auto;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    justify-content: center;
}
/*Content contatti.html*/
#cardscontatti{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 2em;
    padding:5px;
}
#contacts{
    width: 80%;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
    float: left;
    width: 350px;
    height: 240px;
    margin:2em;
}

#imgboiler{
    border: 1px solid #fff;
    border-radius: 5px;
    width: 380px;
    height: 270px;
    margin:2em;
}

#imgdettagli{
    width: 260px;
    height: 400px;
}

#imgside{
    float: right;
}

/* dettagli.html */
#detailscontainer{
    margin-top: 1.5em;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding:5px;
}

#divimgbirra{
    float: left;
    margin: 1em;
}

#divdettagli{
    float: right;
    margin: 0em 1em 1em 1em;
    width: 60%
}

#recensionecreate{
    margin-bottom: 2em;
    display: flex;
    flex-flow: wrap;
}

#recensionetext{
    width: 90%;
}

#recensionetextarea{
    margin-top: 0.5em;
    resize: vertical;
    border: #fff;
}

/* notfound.html */

#diverror{
    margin-top: 5em;
    text-align: center;
}


/*Lista pagine prodotti.html*/
#pages{
    text-align: center;
}
#list_pages{
    padding: 0.5em 0.5em;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-flex;
    list-style-type: none;
    background-color: #222;
}
#torna_su{
    background-color: #222;
    text-align: center;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 7%;
}
/*------------------------------------------------------------------------------------------*/
/*style del AgeValiditation*/
 #AVp {
    font-size: 1.5em;
    margin:0 auto;
    padding-bottom: 1em;
}
#AVh2 {
    font-size: 3em;
    margin-bottom:0;
}
.btn {
    border-style:solid;
    background-color: #222;
    border-color: #fff;
    color: #fff;
    font-size: 1.5em;
    padding: 0.5em 1.5em;
}

.btn:hover {
    background-color: #fff;
    border-color: #222;
    color: #222;
}

.inputAge:hover{
    background-color: #DCDCDC;
    border-color: #708090;
    color: #333333;
 }
.inputAge{

    width: 8em;
    margin: 1em;
    padding: 1em 0.5em;
    background-color: #FFFAFA;
}
#firstForm{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dataInput{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-self: auto;
}
.form-label {
    font-size: 1.5em;
}
.msgError{
    color: #840000;
    font-size: 1.1em;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------*/
.material-icons {
    font-size: 2em ;  /* Preferred icon size */
    padding: 0.4em;
    color: #fff;
}
.material-icons:hover{
    background-color: #fff;
    color: #000;
    border-radius: 100%;
    cursor:pointer;
}
#searchbar{
    background-color: #222;
    padding: 0.3em 2em;
}
#searchbar input{
    width: 100%;
    padding:0.8em;
    border: 1px solid #fff;
    border-radius: 10px;
}