@media screen and (max-width: 430px){
#text_logo{
    font-size: 1.8em;;
}
}
#text_logo{
    font-size: 1.8em;;
    margin: auto;
}
header{
    height: 80px;
}
header nav ul{
    flex-direction: column;
}
.link_prodotto{
    margin: 0;
}
.prodotto{
    width:100%;
    max-width: 400px;
}
#AVh2{
    font-size: 1.5em;
}
#AVp, .form-label{
    font-size: 1em;
}/*
.dataRow{
    flex-direction: column;
    align-items: center;
}*/
#container_header{
    flex-wrap: wrap;
}
#breadcrumbs{
    width: 80%;
}
#divdettagli{
    width: 100%;
}
#txtaccountdelete{
	margin-top: 1em;
}
#container_profilo, #content{
    width: 120%;
}
#dettagli {
    font-size: 0.7em;
    margin-left: 0;
}
#container_profilo>p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5em;
}
#container_profilo>p>span {
    max-width: inherit;
    font-size: 0.7em;
} 
#menu-btn{
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 2;
    top:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
#menu-burger{
    width:50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
}
#menu-burger::after, #menu-burger::before{
    content:"";
    position:absolute;
    width:50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
}
#menu-burger::after{
    transform: translateY(16px);

} #menu-burger::before{
   transform: translateY(-16px);
}
#menu-btn.open{
    position:fixed;
}
#menu-btn.open #menu-burger{
    transform: translateX(-50px);
    background-color: transparent;
}
#menu-btn.open #menu-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

#menu-btn.open #menu-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
#searchbar, nav{
    background-color: #222;

}
#sidebar{
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top:0;
    right:0;
    overflow-x: hidden;
    background-color: #222;
    
}