<head>
    <meta name="description" content="Sito realizzato come progetto di Tecnologie Web per dimostrare competenze acquisite"/>
    <meta name="author" content="Giacomo Sassaro, Ayoub Maher, Denisa Hida, Gianpiero Giuseppe Tovo"/>
    <meta name="keywords" content="tana del luppolo, birra, shop, prodotti, catalogo<keywords/>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <title/>
    <link rel="icon" href="<root/>img/icon.png"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="<root/>style/style_main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="<root/>style/style_mobile.css" media="handheld, screen and (max-width:850px), only screen and (max-device-width:850px)"/>
    <link rel="stylesheet" type="text/css" href="<root/>style/style_print.css" media="print"/>
    <script src="<root/>js/main.js" type="text/javascript"></script>
</head>