<header>
    <div id="container_header">
        <a href="<root/>php/home.php" id="container_logo">
            <img id="img_logo" src="<root/>img/logo.png" alt="Fiore di luppolo stilizzato"/>
            <h1 id="text_logo">La Tana del Luppolo</h1>  
        </a>
        <div id="container_icons">
            <span id="icon-search" onclick="getSearchbar()" class="material-icons">search</span>
            <a href="account.php"><span class="material-icons"> account_circle </span></a>
            <!--<a href="carrello.html"><span class="material-icons"> shopping_cart </span></a>     -->
        </div>
    </div>
    <div id="searchbar" hidden>
        <form  method="get" action="prodotti.php?">
            <input type="search" id="search" name="search" placeholder="Search" />
            <input type="hidden" tabindex="-1" name="page" value="1"/>
        </form>
    </div>
    
    <nav>
        <ul id="list_link">
            <li><a class="link" href="<root/>php/home.php"><h3 xml:lang="en" lang="en">Home</h3></a></li>
            <li><a class="link" href="<root/>php/prodotti.php?page=1"><h3>Prodotti</h3></a></li>
            <li><a class="link" href="<root/>php/contatti.php"><h3>Contatti</h3></a></li>
        </ul>
    </nav> 
</header>
