<header>
    <div id="container_header">
        <a href="<root/>php/home.php" class="logolink" id="container_logo">
            <img id="img_logo" src="<root/>img/logo.png" alt="Fiore di luppolo stilizzato"/>
            <h1 id="text_logo">La Tana del Luppolo</h1>  
        </a>
        <a href="#main" class="hiddenscreenreader" >Salta a contenuto</a>
        <div id="container_icons">
            <label for="icon-search" class="hiddenscreenreader">Cerca</label>
            <span id="icon-search" tabindex=0 onclick="getSearchbar()" onkeypress="getSearchbar()" class="material-icons">search</span>
            <a href="login.php"><span class="material-icons"> account_circle</span></a>
            <welcome/>
        </div>
    </div>
    <div id="searchbar" hidden="hidden">
        <form  method="get" action="prodotti.php?">
            <label for="search" class="hiddenscreenreader">Cerca</label>
            <input type="search" id="search" name="search" placeholder="Search" />
            <input type="hidden" tabindex="-1" name="page" value="1"/>
        </form>
    </div>
    
    <nav>
        <ul id="list_link">
            <li><a class="link fillParent" href="<root/>php/home.php" xml:lang="en" lang="en">Home</a></li>
            <li><a class="link fillParent" href="<root/>php/prodotti.php?page=1">Prodotti</a></li>
            <li><a class="link fillParent" href="<root/>php/contatti.php">Contatti</a></li>
        </ul>
    </nav> 
</header>
