<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Sito realizzato come progetto di Tecnologie Web per dimostrare competenze acquisite " /> <!-- SEO -->
    <meta name="keywords" content="tana del luppolo, birra, shop, prodotti, catalogo" />
    <meta name="title" content="La Tana del Luppolo" />
    <meta name="author" content="Giacomo Sassaro, Ayoub Maher, Denisa Hida, Gianpiero Giuseppe Tovo" />
    <meta name="language" content="italian it" />
    <title/>
    <link rel="icon" href="<root/>img/icon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<root/>style/style_main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="<root/>style/style_mobile.css" media="handheld, screen and (max-width:850px), only screen and (max-device-width:850px)" />
    <link rel="stylesheet" type="text/css" href="<root/>style/style_print.css" media="print" />
</head>